# Core functionality - changes here should be rare!
/src/app.py                   @matsolasand
/src/backend/database.py      @matsolasand
/src/backend/routers/auth.py  @matsolasand

# The frontend will need refactored soon to be more object oriented.
/src/static/   @matsolasand
